.cart {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li span {
  font-size: 16px;
  color: #333;
}

.cart-item-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cart-item-controls button {
  background: black;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.cart-item-controls button:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.cart-item-controls .phosphor-icon {
  width: 24px;
  height: 24px;
  
  color: #007bff;
}

button {
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.modal label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.modal input,
.modal select {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.modal button[type="submit"] {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.modal button[type="submit"]:hover {
  background-color: #0056b3;
  
}

/* Define the shake animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

/* Apply the shake animation to the error message */
.error {
  color: red;
  margin-top: 10px;
  animation: shake 0.5s ease-in-out;
}

.contact-info {
  margin-top: 40px;
  text-align: center;
}

.contact-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.contact-info p {
  margin: 5px 0;
  color: #666;
}
